# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Testing
coverage/

# Misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
